body {
    background-color: #e7e7e7fd;
}
.loader {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #737374;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.wrapper {
    display: none;
}
 
.row {
    margin-left: 15px;
    margin-right: 15px;
}
.col-sm-5, .col-sm-7 {
    padding: 0px;
    margin: 0px;
}
.dugme {
    width: max-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#load-button {
    padding: 10px 30px;
    border-radius: 5px;
    border-color: #d3d3d366;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(226, 225, 225);
}
#hide-button {
    display: none;
    padding: 10px 30px;
    border-radius: 5px;
    border-color: #d3d3d366;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(226, 225, 225);
}
.hotels {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.hotel {
    width: 100%;
    height: 270px;
    background-color: rgb(248, 248, 248);
    margin-top: 20px; 
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.651);
    border-style: inset;
    border-width: 1px;
    
}

#right-side {
    width: 100%;
    float: right;
    height: 268px;
}

#right-side span {
    display: block;
    width: 100%;
    font-size: 14px; 
}
.city {
    padding-top: 0px;
    padding-left: 16px;
}
#right-side span.name {
    font-size:24px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
}

#right-side span.name:first-letter {
    text-transform: uppercase;
}

#right-side p.description {
    font-size:12px;
    padding-top: 10px;
    margin-left: 15px;
    padding-right: 5px;

}
#left-side {
    width: 100%;
    background-color: rgb(216, 215, 215);
    height: 268px;
    float: left;
    border-radius: 5px 0 0 5px;
    border-color: rgba(128, 128, 128, 0.651);
    border-style: inset;
    border-width: 0 1px 0 0;
}
.image {
    width: 100%;
    height: 268px;
}
#right-side button {
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #d3d3d366;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(226, 225, 225);
    margin-top: 25px;
    margin-left: 15px;
}
.price {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: auto;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.date {
    float: right;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.dateprice {
    width: 200px;
    height: auto;
    float: right;
}
.stars {
    float: right;
    margin: 10px 20px;
    font-size: 20px;
}
#comments {
    width: 100%;
    height: max-content;
    background-color: rgb(189, 189, 189);
    border-radius: 0 0 5px 5px;
    border-color: rgba(128, 128, 128, 0.651);
    border-style: inset;
    border-width: 0 1px 1px 1px;
    margin-top: inherit;
    margin-left: auto;
    margin-right: auto;
}
#content {
    width: 100%;
    height: max-content;
}
.comment {
    height: min-content;
}
#comments hr:last-of-type {
    visibility: hidden;
}

#content p.name {
    font-size:16px;
    font-weight: bold;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    float: right;
    margin-right: 10px

}  
#content p.comment {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    width: 80%;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}
#content p.comment:first-letter{
    text-transform: uppercase;
}
.status {
    width: 18%;
    float: left;
    height: 50px;
    margin-top: 20px;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: rgb(236, 235, 235);
    border-radius: 50%;
    display: inline-block;
    margin-left: 40px;
    margin-top: auto;
  }
  .dot p{
      margin-left: 20px;
      margin-top: 11px;
      font-weight: 900;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
  hr {
      width: 90%;
  }
  @media screen and (min-width:993px){
    .hotel {
        width: 100%;
        height: 320px;
    }
    
    #right-side {
        height: 318px;
    }
    
    #right-side span {
        font-size: 18px; 
    }
    #right-side span.name {
        font-size:30px;
    }
    
    #right-side p.description {
        font-size:14px;
        padding-top: 15px;
        padding-left: 2px;
        padding-right: 20px;
    
    }
    #left-side {
        width: 100%;
        height: 318px;
    }
    .image {
        width: 100%;
        height: 318px;
    }
    #right-side button {
        padding: 15px 30px;
        font-size: 16px;
        width: 200px;  
    }
    .price {
        margin-top: 20px;
        margin-right: 30px;
        font-size: 36px;
    }
    .date {
        margin-right: 30px;
        margin-top: 10px;
        font-size: 14px;
    }
    .dateprice {
        width: 250px;
    }
    .stars {
        float: right;
        margin: 15px 30px;
        font-size: 24px;
    }
    .description {
        font-size: 14px;
    }
    .content p.name {
        font-size:20px;
        padding-top: 20px;
        margin-right: 15px
    
    }  
    .content p.comment {
        font-size:14px;
        margin-right: 15px
    }
    .dot {
        height: 70px;
        width: 70px;
        margin-left: 60px;
        margin-bottom: 10px;
      }
      .dot p{
          margin-left: 29px;
          margin-top: 16px;
          font-weight: 1200;
          font-size: 25px;
      }
}
@media screen and (max-width:767px){

    .hotel {
        width: 100%;
        height: 100%;
        border-style: none;
    }
    
    #right-side {
        height: min-content;
        width: 100%;
        border-radius: 0 0 5px 5px;
        border-color: rgba(128, 128, 128, 0.651);
        border-style: inset;
        border-width: 0 1px 1px 1px;
    }
    
    #right-side span {
        font-size: 14px;
    }
    #right-side span.name {
        font-size:24px;
        padding-left: 15px;
    }
    
    #right-side p.description {
        font-size:14px;
        padding-top: 8px;
        padding-right: 10px;
    
    }
    #left-side {
        width: 100%;
        height: 298px;
        border-radius: 5px 5px 0 0;
        border-width: 1px ;
    }
    .image {
        width: 100%;
        height: 298px;
    }
    #right-side button {
        padding: 5px 10px;
        bottom: 10px;
        font-size: 12px;
        width: 70px;
    }
    .price {
        margin-top: 20px;
        margin-right: 15px;
        font-size: 30px;
    }
    .date {
        margin-right: 15px;
        margin-top: 5px;
        font-size: 12px;
    }
    .dateprice {
        width: 150px;
    }
    .stars {
        float: right;
        margin: 10px 15px;
        font-size: 18px;
    }
    .content p.name {
        font-size:16px;
        padding-top: 10px;
        margin-right: 5px;
    
    }  
    .content p.comment {
        font-size:12px;
        margin-right: 5px
    }
    .dot {
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 20px;
      }
      .dot p{
          margin-left: 11px;
          margin-top: 7px;
          font-weight: 700;
          font-size: 16px;
      }
}